@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mulish:ital,wght@1,200&family=Playfair+Display:ital,wght@0,400;1,600&display=swap');

@font-face {
    font-family: 'Comfortaa', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
}

*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html body {
    padding: 0;
    margin: 0;
}
.main-header {
    background-image: url(img/вода.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.377);
    background-size: cover;
    padding-bottom: 50px;
}

.nav a {
    text-decoration: none;
    margin-left: 1.5em;      
}

.main-nav li {
    display: inline;
    font-size: 1.3em;
    color: rgb(255, 251, 251);
    font-weight: bold;
 
}
.main-nav ul {
    margin: 0;
}
.main-nav {
    text-align: center;
    font-size: 1.4em;
    border-bottom: 1.5px solid rgb(255, 236, 127);
}
.name {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: rgb(255, 251, 251);
    margin-bottom: 1em;

}
.name-large {
    font-size: 3em;
    color: rgb(250, 245, 245);
}
.container-section li{
    display: block;
    text-align: justify;
    padding: 10px;
    margin-left: 1em;
    margin-right: 1.5em;
    border-bottom: 1px dashed rgba(99, 212, 247, 10);
}
.swim-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: right;
    margin: 1em;
}
.container-section {
    text-align: center;
    padding: 10px;
    margin-left: 1em;
    margin-right: 1.5em; 
}
.container-section1 {
    font-size: 1.5em;
    text-align: start;
}

.nav a:hover {
    background-color: rgba(252, 220, 38, 0.74);
   }
.logo li {
    display:inline;
    margin: 1em;
}

.logo img {
    height: 15px;
    margin: 0;
}
.logo {
    margin-bottom: 0;
    padding-left: 2em;
    padding-bottom: 0;
}   
.logo a:hover {
    background-color: rgba(252, 220, 38, 0.74);
}
.name1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: rgb(15, 9, 9);
    margin-bottom: 1em;
}
.footer {
    background-image: url(img/вода.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.377);
    margin-bottom: 0;
}
.nav a:hover {
    background-color: rgba(252, 220, 38, 0.74);
}
.container-section img {
    height: 200px;
    float: right;
    border-radius: 50%;
    margin: 3px;
}